<section style=" background-color: #353535;">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 dotted-pattern"
    style=" background-color: #353535;"
  >
    <div>
      <div style="margin-top: 100px; " class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center"></div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8 hero-heading"
          style="color: #fdfdfd"
        >
          Building solutions thoughtfully
        </p>
        <p
          class="lg:text-xl max-w-2xl mt-4 mx-auto text-base hero-subheading"
          style=" color: #bebaba;"
        >
          For Google Workspace™ users.
        </p>
      </div>

      <div
        class="hero-subheading text-gray-500"
        style="margin-top: 200px; text-align: center;font-size: 24px; color: #bebaba;"
      >
        Our products are used by a growing community of over 4,000 people
        worldwide.
      </div>
      <!--   <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start"
      >
        <div class="text-gray-500">
          <strong class="text-gray-700"
            >Astro, Tailwind CSS and Alpine.js</strong
          > ━ This are the popular technologies behind Astrosaas.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Includes 6 pages</strong> ━ You will
          find this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl>-->
    </div>
  </div>
</section>
