<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Our products
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          We build products for the Google Docs™ users who wants to convert
          Google Docs™ into other formats for various purposes.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="logo-wordpress"
                    role="img"
                    style="color: #2772ed;"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  <a href="https://www.docstowp.pro">Docs to WP Pro</a>
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                The most powerful Google Docs™ to WordPress converter to
                streamline your workflow and save time.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="logo-markdown"
                    role="img"
                    style="color: #2772ed;"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  <a href="https://www.docstomarkdown.pro"
                    >Docs to Markdown Pro</a
                  >
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                The most powerful Google Docs™ to Markdown converter to
                effortlessly streamline your workflow and save time.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="document-text-outline"
                    role="img"
                    style="color: #2772ed;"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                <a href="https://www.pdftodocs.com">PDF to Docs</a>
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Bulk Converts PDF files from Local drive or from a Google
                Drive™ into Google Docs™.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="document-text-outline"
                    role="img"
                    style="color: #2772ed;"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Docs to PDF (Launching soon!)
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Bulk Converts Google Docs™ into PDF files and downloads them as
                zip file.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="person-add-outline"
                    role="img"
                    style="color: #2772ed;"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Coming soon
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We listen to our users. Do you have any tool or feature
                requests? Get in touch with us.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
