<footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a href="/" class="xl:col-span-1 text-black inline-flex items-center gap-3">
        <div class="flex justify-center col-span-1">
          <img alt="logo" class="h-12" src="https://www.thinksolv.com/logo-32.png" />
        </div>
        <span class="font-bold font-display text-stone-700" style="font-size: 24px;">thinksolv</span>
      </a>
      <div class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-400 lg:col-span-3">
        <div>
          <h3 class="text-lg text-stone-500 font-medium tracking-tight">Useful links</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="/" class="hover:text-black"> Home</a>
            </li>

            <li>
              <a href="/terms" class="hover:text-black"> Terms</a>
            </li>
            <li>
              <a href="/privacy" class="hover:text-black"> Privacy</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-stone-700 font-medium tracking-tight">Products</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="https://www.docstowp.pro" class="hover:text-black"> Docs to WP Pro </a>
            </li>
            <li>
              <a href="https://www.docstomarkdown.pro" class="hover:text-black"> Docs to Markdown Pro </a>
            </li>
            <li>
              <a href="https://www.pdftodocs.com" class="hover:text-black"> PDF to Docs </a>
            </li>
            <li>
              <a href="https://www.docstopdf.pro" class="hover:text-black"> Docs to PDF </a>
            </li>
          </ul>
        </div>

        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-stone-700 font-medium tracking-tight">Socials</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="https://x.com/vikramaruchamy" class="hover:text-black flex items-center"
                ><svg xmlns="http://www.w3.org/2000/svg" height="12" width="10.5" viewBox="0 0 448 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    fill="#848386"
                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"
                  ></path></svg
                >
                &nbsp; X
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/vikramaruchamy/" class="hover:text-black"
                ><i class="fab fa-linkedin"></i>
                Linkedin
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-stone-700 font-medium tracking-tight">Address</h3>
          <p class="mt-4 space-y-1">
            Thinksolv technologies private limited, Forge.Factory, <br />KCT tech park, Coimbatore - 641 049.
          </p>
          <ul role="list" class="mt-4 space-y-1"></ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6">
      <p class="text-sm text-neutral-600 lg:col-span-2">
        © 2024 Owned and maintained by Thinksolv technologies private limited. All rights reserved.
      </p>
    </div>
  </div>
</footer>
