---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Thinksolvhero from '../components/landing/thinksolvHero.astro';
import SectionOne from '../components/landing/SectionOne.astro';
const metadata = {
  title: 'Google Workspace Automation',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />-->



  <Hero2
  tagline=""
  actions={[
    { variant: 'primary',  text: 'Our Products', href: '#features' },
    { text: 'Our Services', href: '#features' },
  ]}
  image={{
    src: 'https://www.thinksolv.com/hero-banner.webp',
    alt: 'AstroWind Hero Image',
  }}
>
  <Fragment slot="title">
    <span class="hero-heading">Building solutions thoughtfully</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class=" hero-subheading">
     For Google Workspace™ users worldwide.<br> <br>Our products are used by over 5000+ users worldwide.</span>
     <br>
     <br><span class="  hero-subheading">As an Official Google Workspace™ Build Partner, we build tailored automation solutions to streamline your internal workflows, improving productivity and saving you time. <br><br>Contact us to learn more.</span>
  </Fragment>
</Hero2>
  <SectionOne />
</Layout>
