---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '../assets/images/logo-32.png';
---

<Image src={logo} alt="A description of my image." />
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-stone-700 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
